POSTGRES_DB=mdelayrepoplus
POSTGRES_USER=mdelayrepouser
POSTGRES_PASSWORD=***
POSTGRES_HOST=db
POSTGRES_PORT=5432

BOT_TOKEN=***
ALERT_CHAT_ID=***
ADMIN_PASSWORD=***

SCHEDULER_POLL_SECONDS=60
CHECK1_SECONDS=60
CHECK2_SECONDS=60
CHECK3_SECONDS=60
