POSTGRES_DB=kakdelatorbot
POSTGRES_USER=kakdelatoruser
POSTGRES_PASSWORD=***
POSTGRES_HOST=db
POSTGRES_PORT=5432

BOT_TOKEN=***
ALERT_CHAT_ID=***
ADMIN_PASSWORD=***

BOT_POLLING_TIMEOUT_SECONDS=30
BOT_POLLING_READ_TIMEOUT_SECONDS=35
BOT_POLLING_CONNECT_TIMEOUT_SECONDS=10
BOT_POLLING_POOL_TIMEOUT_SECONDS=10
BOT_POLLING_INTERVAL_SECONDS=1.0

SCHEDULER_POLL_SECONDS=60
CHECK1_SECONDS=60
CHECK2_SECONDS=60
CHECK3_SECONDS=60
